/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

##### Secure Data #####
mvnw
mvnw.cmd
.mvn

### Test for practice ###
/src/test/java/practice/

### config ###
src/main/resources/application-dev.yml
src/main/resources/email-account.yml