<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexters.rezoom.repository.RecentClickResumeRepository">
	<insert id="insertByResume" parameterType="RecentClickResume">
		INSERT INTO recent_click_resume (resume_id, user_name, click_date)
		VALUES ( #{resumeId}, #{username}, #{clickDate})
	</insert>

	<!-- 중복제거 후 시간 내림차순 최대 4개 가져오기를 해야하는데 일단 자바 코드로 해결함 -->
	<select id="selectAllByResume" parameterType="Map" resultType="RecentClickResumeDTO">
		SELECT recent_click_resume.resume_id, company_name, job_type, click_date
		FROM recent_click_resume
		LEFT JOIN resume ON resume.resume_id = recent_click_resume.resume_id
		WHERE recent_click_resume.user_name = #{username}
		ORDER BY click_date DESC
	</select>
</mapper>