<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexters.rezoom.repository.ResumeRepository">
    
	<delete id="deleteAllQuestion"> <!-- 문항 전체 삭제 -->
	delete from question where user_id=#{userId} AND resume_id=#{resumeId};
	</delete>
	
	<delete id="deleteQuestion"> <!-- 문항 개별 삭제 -->
	delete from question where user_id=#{userId} AND resume_id=#{resumeId} AND question_id=#{questionId};
	</delete>	
	
	<insert id="createQuestion"><!-- 문항 등록 (question_id, resume_id, user_id, title, content 순)-->
	insert into question values(#{question.questionId}, #{question.resumeId}, #{question.userId}, #{question.title}, #{question.content});
	</insert>
	
	<select id="getQuestion" resultType="com.nexters.rezoom.domain.Question"><!-- 문항 상세보기 -->
		select question_id questionId, resume_id resumeId, user_id userId, title, content from question where user_id=#{userId} AND resume_id=#{resumeId} AND question_id=#{questionId};
	</select>
	
	<select id="updateQuestion" ><!-- 문항 수정 -->
		update question set title=#{question.title}, content=#{question.content}  where user_id=#{question.userId} AND resume_id=#{question.resumeId} AND question_id=#{question.questionId};
	</select>
</mapper>