<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexters.rezoom.repository.QuestionRepository">

	<!-- 여러 개의 문항을 삽입 -->
	<insert id="insertQuestions" parameterType="Map" useGeneratedKeys="true" keyProperty="questionId" keyColumn="question_id">
		INSERT INTO question
		(user_name, resume_id, title, content)
		VALUES
		<foreach collection="list" item="question" separator=",">
			(#{username}, #{resumeId}, #{question.title}, #{question.content})
		</foreach>
	</insert>

	<!-- 문항 1개 수정 -->
	<update id="updateQuestion" parameterType="Map">
		UPDATE question
		SET
			title = #{question.title},
			content = #{question.content}
		WHERE
			user_name = #{username} AND resume_id = #{resumeId} AND question_id = #{question.questionId}
	</update>

	<!-- 하나의 이력서에 존재하는 모든 문항(제목,내용,해쉬태그 조회 -->
	<resultMap id="questionListResult" type="Question">
		<id property="questionId" column="question_id"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<collection property="hashTags" column="question_id" javaType="java.util.List" ofType="HashTag" select="selectHashtagsByQuestionId"/>
	</resultMap>
	<select id="selectAllQuestionByResumeId" parameterType="map" resultMap="questionListResult">
		SELECT DISTINCT question.question_id, question.title, question.content
		FROM question
		LEFT JOIN question_has_hashtag ON question_has_hashtag.question_id = question.question_id
		WHERE resume_id = #{resumeId} AND question.user_name = #{username}
	</select>
	<select id="selectHashtagsByQuestionId" resultType="HashTag">
		SELECT hashtag.hashtag_id, hashtag.hashtag_keyword
		FROM hashtag
		LEFT JOIN question_has_hashtag ON question_has_hashtag.hashtag_id = hashtag.hashtag_id
		WHERE question_has_hashtag.question_id = #{question_id};
	</select>

	<!-- 단일 문항 상세보기 -->
	<resultMap id="questionResult" type="Question">
		<id property="questionId" column="question_id"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<collection property="hashTags" column="question_id" javaType="java.util.List" ofType="String" select="selectHashtagsByQuestionId"/>
	</resultMap>
	<select id="getQuestion" parameterType="Map" resultMap="questionResult">
		SELECT distinct question.question_id, title, content
		FROM question
		LEFT JOIN question_has_hashtag ON question_has_hashtag.question_id = question.question_id
		WHERE question.user_name=#{username} AND question.resume_id=#{resumeId} AND question.question_id=#{questionId};
	</select>

	<delete id="deleteQuestion" parameterType="Map">
		DELETE FROM question
		WHERE
		<foreach collection="list" item="questionId" separator="AND">
			question_id != #{questionId}
		</foreach>
	</delete>
</mapper>