<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexters.rezoom.repository.SearchRepository">

    <!-- 해시태그로 문항 검색 -->
    <select id="selectQuestionsByHashTags" resultMap="questionSearchListResult">
        SELECT question_id, title, content, company_name, job_type
        FROM question q, resume r
        WHERE r.resume_id = q.resume_id AND q.user_name = #{username} AND question_id IN (SELECT question_id
        from question_has_hashtag q, hashtag h where q.hashtag_id = h.hashtag_id
        AND (
        <foreach collection="hashList" item="item" separator="or">
            hashtag_keyword IN ( #{item, jdbcType=VARCHAR} )
        </foreach>
        ))
    </select>

    <!-- 키워드로 문항 검색 -->
    <select id="selectQuestionsByKeyword" resultMap="questionSearchListResult">
        SELECT question_id, title, content, company_name, job_type
        FROM question q, resume r
        WHERE r.resume_id = q.resume_id AND q.user_name = #{username}
        AND  ( title LIKE CONCAT('%' , #{keyword}, '%') OR content LIKE CONCAT('%', #{keyword}, '%') )
    </select>

    <!-- 회사명으로 이력서 검색 -->
    <select id="selectResumesByCompanyName" resultType="Resume">
        SELECT *
        FROM resume
        WHERE user_name = #{username} AND company_name LIKE CONCAT('%', #{companyName}, '%')
    </select>

    <resultMap id="questionSearchListResult" type="Question">
        <id property="questionId" column="question_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <collection property="resume" column="question_id" javaType="Resume" ofType="Resume">
            <result property="companyName" column="company_name"/>
            <result property="jobType" column="job_type"/>
        </collection>
        <collection property="hashTags" column="question_id" javaType="java.util.List" ofType="HashTag" select="selectHashtagsByQuestionId"/>
    </resultMap>
    <select id="selectHashtagsByQuestionId" resultType="HashTag">
        SELECT hashtag.hashtag_id, hashtag.hashtag_keyword
        FROM hashtag
        LEFT JOIN question_has_hashtag ON question_has_hashtag.hashtag_id = hashtag.hashtag_id
        WHERE question_has_hashtag.question_id = #{question_id};
    </select>
</mapper>