<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexters.rezoom.repository.ApplicationUserRepository">

    <!-- security에서 사용하는 sql -->
    <select id="selectOneByUsernameOnSecurity" parameterType="String" resultType="ApplicationUser">
        SELECT user_name, password
        FROM application_user
        WHERE user_name = #{userName}
    </select>

    <insert id="insertOne" parameterType="ApplicationUser">
       INSERT INTO application_user
       (user_name, name, password)
       VALUES
       (#{username}, #{name}, #{password})
    </insert>

    <select id="selectEmail" parameterType="String" resultType="String">
        SELECT user_name
        FROM application_user
        WHERE user_name = #{username}
    </select>

    <select id="selectName" parameterType="String" resultType="String">
        SELECT name
        FROM application_user
        WHERE user_name = #{username}
    </select>

	<select id="getPassword" parameterType="String" resultType="String">
        SELECT password
        FROM application_user
        WHERE user_name = #{username};
	</select>

    <update id="updateOne" parameterType="ApplicationUser">
        UPDATE application_user
        SET
            password = #{user.newPassword}
        WHERE user_name = #{username}
    </update>
</mapper>