<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexters.rezoom.repository.ResumeRepository">

	<delete id="deleteResume"> <!-- 이력서 삭제 -->
		delete from resume where user_id=#{userId} AND resume_id=#{resumeId}
	</delete>	
</mapper>